extends ../../../path-feature-template.pug

block description
    | You can use your Channel Divinity to read a creature’s thoughts. You can then use your access to the creature’s mind to command it.
