extends ../../../path-feature-template.pug

block description
    | You can call up visions of the past that relate to an object you hold or your immediate surroundings. You spend at least 1 minute in meditation and prayer, then receive dreamlike, shadowy glimpses of recent events. You can meditate in this way for a number o f minutes equal to your W isdom score and must maintain concentration during that time, as if you were casting a spell.
