- var dice = {9: 'one', 13: 'two', 17: 'three'}
h2 Brutal Critical
p
    | You can roll #{dice[level]} additional
    | weapon damage dice when determining the extra
    | damage for a critical hit with a melee attack.