h2 Beast Spells
p
    | You can cast many of your spells while in a shape assumed by using Wild Shape. You can provide somatic and verbal components of a druid spell while in a beast shape, but you cannot provide material components.