h2 Bard College
p
    | At 3rd level, you delve into the advanced techniques of a bard college of
    | your choice: the College of Lore or the College of Valor, both detailed at
    | the end of the class description. Your choice grants you features at 3rd
    | level and again at 6th and 14th level.

h2 Expertise
p
    | At 3rd level, choose two of your skill proficiencies. Your proficiency
    | bonus is doubles for any ability check you make that uses either of the
    | chosen proficiencies.

