h2 Bard College
p
    if level === 3
        | You delve into the advanced techniques of a bard college of
        | your choice: the College of Lore or the College of Valor, both detailed at
        | the end of the class description in the Player's Handbook.
        | Your choice grants you features at 3rd level
        | and again at 6th and 14th level.
    else
        | You gain a new feature granted by the bard college you selected
        | on the 3rd level.