extends ../../../path-feature-template.pug

block description
    | You attain the pinnacle of resilience in battle. At the start of each of your turns, you regain hit points equal to 5 + your constitution modifier if you have no more than half of your hit points left. You don't gain this benefit if you have 0 hit points.