h2 Channel Divinity
p
    if level === 2
        | You gain the ability to channel divine energy directly from your deity. You start with two such effects: Turn Undead, and an effect determined by your domain. Some domains grant you additional effects as you advance in levels.

        | When you use your Channel Divinity, you choose which effect to create. You must finish a short or long rest to use your Channel Divinity again. Some Channel Divinity effect require saving throws. When you use such an effect granted by this class, the DC equals your cleric spell save DC.
    if level === 6
        | You may use your Channel Divinity feature twice between rests. All uses recharge when you take a short or long rest.
    if level === 18
        | You may use your Channel Divinity feature thrice between rests. All uses recharge when you take a short or long rest.

if level === 2
    h3 Turn Undead
    p
        | As an action, you present your holy symbol and speak a prayer censuring the undead. Each undead that can see or hear you within 30 feet of you must make a Wisdom saving throw. If the creature fails its saving throw, it is turned for 1 minute or until it takes any damage.

        | A turned creature must spend its turns trying to move as far away from you as it can, and it can't willingly move to a space within 30 feet of you. lt also can't take reactions. For its action, it can use only the Dash action or try to escape from an effect that prevents it from moving. If there's nowhere to move, the creature can use the Dodge action.