extends ../page-template.pug

block description
    if [4, 10].includes(level)
        +cantrips(1, name)

    -
        var newSpellSlots = {
            2: {1: 3}, 3: {1: 4, 2: 2}, 4: {2: 3}, 5: {3: 2},
            6: {3: 3}, 7: {4: 1}, 8: {4: 2}, 9: {4: 3, 5: 1},
            10: {5: 2}, 11: {6: 1}, 13: {7: 1}, 15: {8: 1},
            17: {9: 1}, 18: {5: 3}, 19: {6: 2}, 20: {7: 2}
        }

    if level in newSpellSlots
        +spell-slots(newSpellSlots[level])

    if [2, 6, 18].includes(level)
        include channel-divinity.pug

    if [4, 8, 12, 16, 18].includes(level)
        include ../ability-score-improvement.pug

    if [5, 8, 11, 14, 17].includes(level)
        include destroy-undead.pug

    if [10, 20].includes(level)
        include divine-intervention.pug

block footer
    include ../remember.pug
    -
        var itemsToRemember = {
            'Spell save DC': '= 8 + proficiency bonus + Wisdom modifier',
            'Spell attack modifier': '= proficiency bonus + \
                Wisdom modifier',
            'Prepared spells': '= Wisdom modifier + cleric level \
                (minimum of one spell)'
        }

    +remember(itemsToRemember)