- var CRPerLevel = {5: '1/2', 8: 1, 11: 2, 14: 3, 17: 4}

h2 Destroy Undead
p
    | When an undead fails its saving throw against your Turn Undead feature, the creature is instantly destroyed if its challenge rating is at or below a certain threshold. At level #{level}, the Challenge Rating is #{CRPerLevel[level]}.
