h2 Bard College
p
    | You delve into the advanced techniques of a bard college of
    | your choice: the College of Lore or the College of Valor, both detailed at
    | the end of the class description in the Player's Handbook.
    | Your choice grants you features at 3rd level
    | and again at 6th and 14th level.