extends ../../../path-feature-template.pug

block description
    | You add the animate dead spell to your
    | spellbook if it is not there already. When you cast
    | animate dead, you can target one additional corpse
    | or pile of bones, creating another zombie or ske1eton,
    | as appropriate.
    | Whenever you create an undead using a necromancy
    | spell, it has additional benefits:
    ul
        li
            | The creature's hit point maximum is increased by an
            | amount equal to your wizard level.
        li
            | The creature adds your proficiency bonus to its
            | weapon damage rolls.