extends ../page-template.pug

block description
    if [3, 6, 12, 17, 20].includes(level)
        include more-rages.pug

    if [9, 16].includes(level)
        include rage-damage.pug

    if level === 2
        include reckless-attack.pug
