extends ../page-template.pug

block description
    if [3, 6, 12, 17, 20].includes(level)
        include more-rages.pug

    if [9, 16].includes(level)
        include rage-damage.pug

    if level === 2
        include reckless-attack.pug
        include danger-sense.pug

    if [3, 6, 10, 14].includes(level)
        include primal-path.pug

    if [4, 8, 12, 16, 19].includes(level)
        include ../ability-score-improvement.pug

    if level === 5
        include extra-attack.pug
        include fast-movement.pug
