- var rages = {3: 3, 6: 4, 12: 5, 17: 6}
h2 More Rages
p
    if level !== 20
        | The number of rages you can enter before taking a long rest increases
        | to #{rages[level]}.
    else
        | There is no longer a limit to the amount of rages you can enter
        | between long rests.