h2 Primal Path
p
    if level === 3
        | You choose a path that shapes the nature of
        | your rage. Choose the Path of the Berserker or the Path
        | of the Totem Warrior, both detailed at the end of the
        | c1ass description. Your choice grants you features at 3rd
        | level and again at 6th, 10th, and 14th levels.
    else
        | You gain a new feature given to you by the primal path you chose on
        | the 3rd level.