extends ../../../path-feature-template.pug

block description
    | You have advantage on saving
    | throws against spells.
    | Furthermore, you have resistance against the
    | damage of spells.