h2 Ability Score Improvement
p
    | You can increase one ability score of your
    | choice by 2, or you can increase two ability scores of
    | your choice by 1. As normal, you can't increase an ability
    | score above 20 using this feature.
    |
    | If you increase your Constitution, remember to update your maximum hit
    | points accordingly!