include mixins.pug

doctype html
html
    head
    body
        h2 Hit Dice Increase
        p You add 1d#{hitDieNumber} to your hit dice.

        h2 Hit Points Increase
        p
            | Your maximum hit points increase by 1d#{hitDieNumber}
            | (or #{hitPointIncreaseAverage}) + your Constitution modifier.

        if [5, 9, 13, 17].includes(level)
            include proficiency-bonus.pug

        block description