extends ../../../path-feature-template.pug

block description
    | You learn two spells of your choice from any
    | class. A spell you choose must be of a level you can cast,
    | as shown on the Bard table, or a cantrip. The chosen
    | spells Count as bard spells for you but don't count
    | against the number of bard spells you know.