extends ../../path-feature-template.pug

block description
    | You learn these new spells:
    |
    block spells
    |
    | You always have these prepared, and they don't count against
    | the number of spells you can prepare each day.
    br
    | If you have a domain spell that doesn't appear on the cleric spell
    | list, the spell is nonetheless a cleric spell for you.