extends ../domain-spells-template.pug

block spells
    if level === 3
        | mirror image, pass without trace.
    if level === 5
        | blink, dispel magic.
    if level === 7
        | dimension door, polymorph.
    if level === 9
        | dominate person, modify memory.

