extends ../../../path-feature-template.pug

block description
    | When you take damage from a creature that is within 5 feet of you. you can use your reaction to make a melee weapon attack against that creature.