h2 Roguish Archetype
p
    if level === 3
        | You choose an archetype that you emulate
        | in the exercise of your rogue abilities: Thief, Assassin,
        | or Arcane Trickster, all detailed at the end of the class
        | description. Your archetype choice grants you features
        | at 3rd level and then again at 9th, 13th, and 17th level.
    else
        | You gain a new feature granted by the Roguish Archetype you selected
        | on the 3rd level.