extends ../../../path-feature-template.pug

block description
    | Beginning at 3rd level, when you take BattleMaster, you learn three special maneuvers (refer to the Player's Handbook). You may only use one maneuver per attack. You learn two additional maneuvers of your choice at 7th, 10th, and 15th level. Each time you learn new maneuvers, you can also replace one maneuver you know with a different one.
    ul
        li.
            #[b Superiority Dice:] You start with 4 superiority dice. They are d8 and you use one whenever you use a maneuver. You regain them all when you finish a short or long rest. You gain another superiority die at 7th level and one more at 15th level.
        li.
            #[b Saving Throws:] If a maneuver requires a saving throw, the DC is 8+ your proficiency bonus + your Strength or Dexterity modifier (your choice).