extends ../../../path-feature-template.pug

block description
    | When you reach 7th level, you can spend 1 minute watching your enemy in or out of combat. Doing so gives you information about their abilities. The DM can then tell you if the following enemy abilities are your equal to, stronger, or weaker than your own:
    ul
        li Strength ability score
        li Dexterity ability score
        li Constitution ability score
        li AC
        li Current HP
        li Total levels (if any)
        li Fighter levels (if any)