extends ../../../path-feature-template.pug

block description
    | You gain a magical benefit based on a totem animal of your choice. You can choose the same animal you selected previously or a different one.
    ul
        li
            | #[b Bear]. While you're raging, any creature within 5 feet of you that's hostile to you has disadvantage on attack rolls against targets other than you or another character with this feature. An enemy is immune to this effect if it can't see or hear you or if it can't be frightened.
        li
            | #[b Eagle]. While raging, you have a flying speed equal to your current walking speed. This benefit works only in short bursts; you fall if you end your turn in the air and nothing else is holding you aloft.
        li
            | #[b Wolf]. While you're raging, you can use a bonus action on your turn to knock a Large or smaller creature prone when you hit it with melee weapon attack.