extends ../domain-spells-template.pug

block spells
    if level === 3
        | flaming sphere, scorching ray.
    if level === 5
        | daylight, fireball.
    if level === 7
        | guardian of faith, wall of fire.
    if level === 9
        | flame strike, scrying.

