extends ../page-template.pug

block description
    if ['4', '10'].includes(level)
        +cantrips(1, name)

    if level in spellSlotsPerLevel
        include spell-slots.pug

    include new-spells.pug

    if level === '2'
        include arcane-tradition.pug

    if ['6', '10', '14'].includes(level)
        include arcane-tradition-feature.pug

    if ['4', '8', '12', '16', '19'].includes(level)
        include ../ability-score-improvement.pug