extends ../page-template.pug

block description
    if [2, 17].includes(level)
        include action-surge.pug

    if [3, 7, 10, 15, 18].includes(level)
        include martial-archetype.pug

    if [4, 6, 8, 12, 14, 16, 19].includes(level)
        include ../ability-score-improvement.pug

    if [5, 11, 20].includes(level)
        include extra-attack.pug

    if [9, 13, 17].includes(level)
        include indomitable.pug