- var times = {'13': 'twice', '17': 'three times'}

h2 Indomitable
p
    if level === '9'
        | You can reroll a saving throw that
        | you fail. If you do so, You must use the new roll, and you
        | can't use this feature again until you finish a long rest.
    else
        | You can use the Indomitable feature #{times[level]}
        | between long rests.