h2 Martial Archetype
p
    if level === '3'
        | You choose an archetype that you strive to
        | emulate in your combat styles and techniques. Choose
        | Champion, Battle Master, or Eldritch Knight, all detailed
        | at the end of the c1ass description in the Player's Handbook.
        |
        | The archetype you choose grants you features at
        | 3rd level and again at 7th, 10th, 15th, and 18th level.
    else
        | You gain a new feature granted by the martial archetype you selected
        | on the 3rd level.