extends ../../../path-feature-template.pug

block description
    | Starting at 3rd level, you can use the Bonus Action granted by your
    | Cunning Action to make a Dexterity (Sleight of Hand) check, use your
    | thieves' tools to disarm a trap or open a lock, or take the Use an Object
    | action.
