extends ../../../path-feature-template.pug

block description
    | At level 15, you can teleport up to 30 feet to a space you can see when using your Action Surge. The teleport can take place before or after the Action Surge.