extends ../../../path-feature-template.pug

block description
    | At level 10, any creature you hit with a weapon attack has disadvantage on it's next save it makes against a spell you cast before the end of your next turn.