extends ../../../path-feature-template.pug

block description
    | You can augment your combat abilities with spell casting.
    |
    | Cantrips: You start with 2 cantrips from the wizard spell list. At level 10 you gain a 3rd cantrip.
    | Known Spells: You start with three 1st level wizard spells, two must come from the evocation and abjuration spell schools. The third spell can be from any Wizard school of magic.
    | Thereafter you learn another spell at levels 4, 7, 8, 10, 11, 13, 14, 16, 19, and 20.
    | The spells you learn at 8th, 14th, and 20th level can come from any school of magic.
    | Whenever you gain a level in this class, you can replace one of the wizard spells you know with another spell of your choice from the wizard spell list (of a level you can cast).
    | Spellcasting Ability: Intelligence is what you use for spellcasting. Your spell DC is equal to 8 + proficiency bonus + Intelligence bonus. Your spell attack use proficiency + your Intelligence bonus.
    | Spell Slots: You start with two 1st level spell slots at Fighter level 3, and gain more as you gain more levels.