extends ../../../path-feature-template.pug

block description
    | Over the course of 1 hour short rest, you can bond a weapon to you. Once bonded, you cannot be disarmed unless you are incapacitated and if the weapon is on the same plane of existence, you can summon it to your hand as a bonus action. You can bond up to two weapons at once.